body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header h1 {
    margin: 0;
}

.contacts {
    margin-top: 10px;
    color: #fff;
}

.contacts a {
    color: #00ffcc; /* Контрастный цвет для ссылок */
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
